<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199918239974-bj841rm6hvclr12kf9s46act93b4o478.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199918239974-bj841rm6hvclr12kf9s46act93b4o478</string>
	<key>API_KEY</key>
	<string>AIzaSyCDVI-XMYm4AJcZ4xZ12RxQjD3ZrBNOen8</string>
	<key>GCM_SENDER_ID</key>
	<string>199918239974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Baryshev.ITinder</string>
	<key>PROJECT_ID</key>
	<string>itinder-42426</string>
	<key>STORAGE_BUCKET</key>
	<string>itinder-42426.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199918239974:ios:51bc53cede5f3cf4223b27</string>
</dict>
</plist>